@import '../helpers/variables';
// About Us
.mission {
    border: 2px solid transparent;
    color: $mainColor !important;
    transition: all 0.4s ease-in-out;
    &:hover{
        border: 2px solid $secondaryColor;
        .mission-icon{
            i{

                color: $secondaryColor !important;
            }
        }
    }
}